p {
    margin: 0;
    padding: 0;
}

li, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.close {
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 20px;
    right: 20px;

    &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 25px;
        left: 10px;
        transform: rotate(-45deg);
        background-color: $default-color;
    }

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 25px;
        left: 10px;
        transform: rotate(45deg);
        background-color: $default-color;
    }
}