@import '../constans.scss';

.about {
    margin-top: 40px;
    font-family: $default-font;

    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__nani {
        font-size: $font-size-36;
    }

    &__features__block {
        display: flex;
        justify-content: space-between;
    }

    &__features {
        display: flex;
        flex-direction: column;
        text-align: justify;
        width: 350px;
    }

    &__features__q {
        font-size: $font-size-36;
        margin-top: 50px;
    }

    &__features__list {
        font-size: $font-size-1-5;
        margin-top: 30px;
    }

    &__features__list--item {
        position: relative;

        &--text {
            margin-left: 30px;
        }
    }

    &__features__list--item:not(:first-of-type) {
        margin-top: 20px;
    }

    &__features__list--item::before {
        content: '';
        background:  url('../../images/bubble.png');
        background-size: 20px;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 20%;
    }

    &__icon {
        width: 500px;
        height: 500px;
    }
}

@media screen and (max-width: 992px) {
    .about__wrapper {
        align-items: center;
    }

    .about__nani {

    }

    .about__features__q {
        font-size: $font-size-36;
        font-weight: 600;
    }

    .about__features {
        width: auto;
    }


    .about__features__list--item {
        font-size: 24px;
    }
}