@import '../themes/Dark-theme';
@import '../constans.scss';

.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.intro .lg {
  margin-top: 200px;
}

.intro .md {
  display: none;
}

.intro {
  position: relative;
  background: linear-gradient(302deg,#5df3fd,#0169b0,#1f003b);
  background-size: 180% 180%;
  animation: gradient-animation 15s ease infinite;
  height: 95vh;
  color: #ebfefe;
  font-family: $default-font;
  font-size: $font-size-1-5;
    
  &__wrapper {
    display: flex;
    justify-content: space-around;
    position: relative;
  }


  &__greet {
    display: flex;
    margin-top: 200px;
    text-transform: uppercase;
  }

  &__icon {
    width: 400px;
    height: 400px;
    // margin-top: 300px;
      
  }
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

@media screen and (max-width: 992px) {
  .intro .lg {
    display: none;
  }

  .intro .md {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .intro {
    position: relative;
    height: 550px;

    &__description__block {
      margin-top: 200px;
      margin-right: 100px;
    }

    &__description__main {
      font-weight: 600;
      font-size: $font-size-36;
    }

    &__description {
      font-size: $font-size-24;
    }

    &__icon {
      width: 300px;
      height: 300px;
      margin-top: 110px;
    }
  }
}
