@import '../base/auth.scss';
@import '../constans.scss';

#registration {
    padding-top: 50px;
    display: flex;
    justify-content: center;

    form {
        width: 30%;
        position: relative;
    }

    p {
        margin-bottom: 100px;
        font-size: $font-size-36;
    }

    .user--exist {
        display: none;
        position: absolute;
        left: 12%;
        top: 50px;
        font-size: $font-size-1-5;
    }

    .languages__pick {
        position: relative;
        margin-top: 30px;
        color: rgb(125, 125, 125);
        cursor: pointer;

        p {
            margin: 0;
            font-size: $font-size-1-5;
        }

        &::before {
            content: '';
            cursor: pointer;
            background-color: $default-color;
            width: 2px;
            height: 10px;
            position: absolute;
            right: 22px;
            top: 40%;
            transform: rotate(-45deg);
        }

        &::after {
            content: '';
            cursor: pointer;
            background-color: $default-color;
            width: 2px;
            height: 10px;
            position: absolute;
            right: 15px;
            top: 40%;
            transform: rotate(45deg);
        }
    }

    .register__submit {
        margin-top: 130px;
        background-color: #d2f5ff;
    }
    
    .languages {
        position: relative;

        input, select, option {
            height: 40px;
        }
    }

    .languages__choice {
        display: none;
        position: absolute;
        width: 100%;
        padding: 10px 0;
        z-index: 1;
        padding-left: 30%;
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0 0 5px grey;
        animation: drop 300ms ease-in-out forwards;
        transform-origin: top center
    }

    .languages__pick {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input, select, option, .languages__pick{
        width: 100%;
    }

    .languages__choice--eng, .languages__choice--jap {
        display: flex;
        color: rgb(125, 125, 125);

        input, label {
            display: inline-block;
        }

        input {
            width: 20px;
            margin: 0 30px 0 0;
        }

        label {
            // width: 200px;
            display: flex;
            align-items: center;
            margin: 0;
            text-align: left;
            font-size: $font-size-1-5;
            text-align: center;
            cursor: pointer;
        }
    }


}

@keyframes  drop {
    0% {
        transform: scaleY(0);
        opacity: .3;

    }
    50% {
        transform: scaleY(1.1);
        // opacity: .6;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}